@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<haed>
    <meta name="viewport" content="width=device-width"/>
    <title>_Layout View</title>
</haed>
    <body>
        @RenderBody()
    </body>
</html>